.summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  padding: 20px;


  &__health-title {
    font-size: 20px;
    font-weight: 500;
    padding: 20px
  }

  &__health-divider {
    border-top: .25px #000;
    margin: 20px 0;
  }



  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: normal;
    flex-direction: row;


    &__main {
      display: flex;
      flex-flow: column nowrap;

      &__analysis-title {
        display: flex;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
        flex-direction: column;
        padding-left: 20px;

        .last-summarized-timestamp {
          font-size: 10px;
          font-weight: 200;

        }
      }
      .content {
        width: 750px;
        font-size: 16px;
        font-weight: 200;
        padding: 20px
      }

    }

    &__feedback {
      padding-left: 50px;
    }

     &__feedback-help {
      flex-direction: column;
      font-size: 16px;
    }
    &__feedback-help-link{
      font-size: 12px;
      flex-direction: column;
      display: flex;
    }
  }


  &__resourcecard {
    display: flex;
    padding-top: 50px;
    flex-flow: row wrap;
    background-color: #eff3f5;
    width: 1000px;

    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: normal;
      width: 950px;
    }

    > label {
      font-size: 16px;
      font-weight: 400;
      padding-left: 20px;
    }
  }
}




