
  .summary {
    $row-width: 550px;
    &__btn-disable {
      pointer-events: none;
      opacity: 0.5;
    }

    &__btn-enable {
    }

    &__header {
      margin-bottom: 1em;
      padding-right: 48px;
      align-items: center;
      max-width: $row-width;

      h1 {
        font-size: 23px;
        font-weight: 500;
        margin-right: 5px;
        margin-bottom: 0;
      }


    }
    &__feedback {
      margin-left: auto;
      margin-top: 20px;
      max-width: 100px;
    }

    &__content {
      margin-top: 20px;
      p.warning {
        color: rgba(255, 0, 0, 0.38);
        display: block;
        font-size: .8rem;
        font-weight: 400;
        line-height: 1rem;
        font-family: "Google Sans", "Helvetica Neue", sans-serif;
        letter-spacing: .1px;
        max-width: inherit;
      }
    }

    &__row {
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0.25em;
      margin-bottom: 0.25em;
      flex-shrink: 1;

      &__label {
        margin-bottom: 5px;
        font-size: 1.4em;
        line-height: 1.2;
        display: flex;
        justify-content: flex-start;
        flex-shrink: 0;
        flex-grow: 0;
      }

      &__value {
        align-items: center;
        font-size: 1em;
        margin-top: 0.5em;
        font-weight: 200;
      }
      &__value--vertical-space {
        margin-top: 20px;
      }
    }
  }

